# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store

# Builds
.next
out
dist
build

# Env
.env
.env.local
.env.development
.env.production

# macOS
.DS_Store

# Logs
logs
*.log

# Editor
.vscode
.idea
# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store

# Builds
.next
out
dist
build

# Env
.env
.env.local
.env.development
.env.production

# MacOS
.DS_Store

# Logs
logs
*.log

# Editor
.vscode
.idea
